@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-950 text-white;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sansation", sans-serif;
}

@layer components {
  .gradient-text {
    background: linear-gradient(to right, #67e8f9, #06b6d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .glass-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}
